/* Reset default margin and padding */
* {
  margin: 10;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #222; /* Dark gray background */
  color: #ddd; /* Light gray text */
  overflow: hidden;
  overflow-y: scroll;
  text-shadow: 0 0 3px #fff;
}

/* Heading styles */
h1 {
  text-align: center;
  margin-bottom: 50px;
  color: #fff; /* White heading */
  text-shadow: 1px 1px 10px#FFF;
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
  z-index: 1;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #444; /* Darker border lines */
  text-align: center;
  z-index: 1;
}

th {
  background-color: #444; /* Even darker gray for headers */
  font-weight: bold;
  color: #fff; /* White text for headers */
}

tbody tr:nth-child(even) {
  background-color: #333; /* Darker gray background for even rows */
}

tbody tr:nth-child(odd) {
  background-color: #2d2d2d; /* Slightly lighter dark gray for odd rows */
}

/* Highlight row on hover (optional) */
tbody tr:hover {
  background-color: #4d4d4d; /* Slightly lighter dark gray highlight on hover */
}

/* Define colors for gold, silver, and bronze rows */
.gold-row {
  color: gold;
  text-shadow: 0 1px 4px #FFF, 0 0px 10px gold, 0 0px 20px gold, 0 0px 40px gold;
}

.silver-row {
  color: silver;
  text-shadow: 0 1px 4px #FFF, 0 0px 10px silver, 0 0px 20px #c0c0c0c3, 0 0px 40px #c0c0c0;
}

.bronze-row {
  color: #cd8032; /* Color for bronze row (shade of brown) */
  text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px #cd80325e, 0 0 14px #cd80325e, 0 0 16px #cd80325e, 0 0 20px #cd80325e, 0 0 30px #cd80325e;
}

.container {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.circle {
  position: absolute;
  border-radius: 50%;
  background-color: rgb(44, 44, 44);
  animation: animate 10s linear infinite;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Inner glow effect */
}

@keyframes animate {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100vw, 100vh);
  }
}

/* Optional: Add an outer glow effect */
.circle::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2); /* Outer glow effect */
}